.c-hasThumbSlider{
  &__list{
    position: relative;
    margin-bottom:calc(16/900*100%);
    width: 100%;
    &__item{
      width: 100%;
      aspect-ratio: 900/562;
    }
    &__img{
      height: 100%;
    }
  }
  
  &__prev{
    &:hover{
      opacity: .6 !important;
      cursor: pointer !important;
    }
    border-top:solid 4px $white;
    border-left:solid 4px $white;
    transform:translateY(-50%) rotate(-45deg);
    width:3rem;
    height:3rem;
    position: absolute;
    top: 50%;
    left:2%;
    z-index: 99999;
    &--small{
      @extend .c-hasThumbSlider__prev;
      border-top:solid 2px $white;
      border-left:solid 2px $white;
      width:2rem;
      height:2rem;
    }
  }
  &__next{
    &:hover{
      opacity: .6;
      cursor: pointer;
    }
    border-top:solid 4px $white;
    border-right:solid 4px $white;
    transform:translateY(-50%) rotate(45deg);
    width:3rem;
    height:3rem;
    position: absolute;
    top: 50%;
    right:2%;
    z-index: 99999;
    &--small{
      @extend .c-hasThumbSlider__next;
      border-right:solid 2px $white;
      border-top:solid 2px $white;
      width:2rem;
      height:2rem;
    }
  }
  &__thumbnail{
    &__list{
      display: flex;
      flex-wrap: wrap;
      column-gap:calc(16/900*100%);
    }
    &__item{
      width: calc(167/900*100%);
      aspect-ratio: 167/104;
      margin-bottom:calc(16/900*100%);
      &:hover{
        cursor: pointer;
        opacity: .6;
      }
    }
    &__img{
      height: 100%;
    }
  }
  &__active{
    border:solid 3px $orange;
  }
}