.p-blog{
  &__list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 5rem;
    flex-wrap: wrap;
    margin-bottom: 10rem;
    &__item{
      width: 30%;
    }
    &__img{
      aspect-ratio: 3/2;
      margin-bottom: 1rem;
    }
    &__txt{
      font-weight: normal;
    }
  }
  &__search{
    &__ttl{
      width: 30rem;
      background: #EA6800;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      padding: 1rem 0;
      margin-bottom: 1rem;
    }
    &__latest{
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }
  }
  &__deta{
    display: block;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10rem;
  }
}
