.p-catalog{
  &__mv{
    &__img{
      height:100%;
      position: absolute;
      z-index: 1;
    }
    &__logo{
      display: block;
      //width: calc(481/1200*100%);
      width: 20%;
      aspect-ratio: 481/356;
      position: absolute;
      z-index: 99;
      top:calc(106/610*100%);
      left: calc(100/1200*100%);
      @include mq(){
        width: 25rem;
      }
    }
  }
  &__desc{
    &__txt{
      width: 100%;
      text-align: center;
      font-size: 1.6rem;
      line-height: calc(25/16);
      letter-spacing:0.03rem;
      font-weight: normal;
      margin-bottom: 6.5rem;
    }
    &__list{
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 4rem;
    }
    &__listTxt{
      margin-bottom: 6rem;
    }
    &__listTtl{
      font-size: 1.6rem;
      font-weight: bold;
      line-height:2.54rem;
      letter-spacing:0.03rem
    }
    &__listItem{
      width:30%;
    }
    &__listTxtItem{
      font-size: 1.6rem;
      font-weight: bold;
      line-height:2.54rem;
      letter-spacing:0.03rem
    }
  }
}