.p-exhibition{
  background: $black;
  padding-right: var(--sidebar);
  padding-top: 15rem;
  &__list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10rem;
    &__item{
      width: 30%;
      margin-left:5%;
      margin-bottom: 5rem;
      position: relative;
      overflow: hidden;
      aspect-ratio: 5/4;
      &:nth-of-type(3n+1){
        margin-left: 0;
      }
    }
    &__link{
      opacity: .8;
      &:hover{
        opacity: initial;
        .p-exhibition__list__thumb{
          transform: scale(1.2);
          transition: .5s;
          transition-property: all;
        }
      }
    }
    &__thumb{
      height: 100%;
    }
    &__logo{
      display: block;
      width: 50%;
      position: absolute;
      left:5px;
      bottom:5px;
      background:$white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
    }
    &__logoImg{
      width: 80%;
    }
  }
  &__txt{
    font-size: 2.4rem;
    color: $white;
    font-family:$yuGothic;
    font-weight: 600;
    text-align: center;
    &--large{
      font-size:3.6rem;
      color: $white;
      font-family: $yuGothic;
      font-weight: 600;
      text-align: center;
      margin-bottom: 10rem;
    }
  }
  &__company{
    height:14rem;
    background: $white;
    position: relative;
    &__img{
      display: block;
      width: 20%;
      position: absolute;
      top: 50%;
      left:calc(50% - (var(--sidebar)/2));
      transform: translate(-50%,-50%);
    }
  }
  &__single{
    @extend .p-exhibition;
    padding-top:5rem;
  }
  &__copy{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:$white;
    font-size: 2.4rem;
    font-family: $yuMincho;
    flex-direction: column;
    &__sub{
      font-size: 2.4rem;
      font-family: $yuMincho;
      color:$white;
    }
  }
  &__mainImg{
    height: 100%;
    &__wrap{
      width: 60%;
      height: 400px;
    }
  }
  &__booking{
    padding-right: var(--sidebar);
    &__content{
      padding: 10%;
    }
  }
  &__descWrap{
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    width:60%;
  }
  &__desc{
    color: $white;
    font-family:$yuMincho;
    font-size:3rem;
    margin-bottom: 0.8rem;
    padding:0 0.5rem;
  }
  &__longDesc{
    @extend .p-exhibition__desc;
    font-size:2.2rem;
    padding: 0;
  }
  &__imgList{
    display: flex;
    margin-bottom: 10rem;
    flex-wrap: wrap;
    &__item{
      aspect-ratio: 1/1;
      overflow:hidden;
      margin-bottom: 5rem;
      &:nth-of-type(1){
        margin-left: 0 !important;
      }
    }
    &__link{
      display: block !important;
      width: 100%;
      height: 100%;
    }
    &__img{
      height: 100%;
    }
  }
  &__video{
    &__link{
      display: block;
      aspect-ratio:6/4;
      overflow: hidden;
      position: relative;
      width: 60%;
      margin: auto;
      margin-bottom:10rem;
    }
    &__wrap{
      width: 120%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  &__info{
    &__comName{
      color: $white;
      font-size: 2.4rem;
      font-family: $yuGothic;
      font-weight: bold;
      border-left:solid 3px $white;
      padding-left: 1rem;
      margin-bottom:1.5rem;
    }
    &__txt{
      color: $white;
      font-size: 2.0rem;
      font-family: $yuGothic;
      font-weight: bold;
      padding-left: 1rem;
      line-height: 1;
      margin-bottom: 1.5rem;
    }
    &__num{
      @extend .p-exhibition__info__txt;
      padding-left:0 !important;
    }
  }
  &__table{
    margin-left: 10rem;
    border:solid 1px $white;
    & tr{
      border:solid 1px $white;
    }
    &__th{
      @extend .p-exhibition__info__txt;
      border-right:solid 1px $white;
      padding:1.2rem 2.5rem;
      margin-bottom: 0;
      text-align: center;
    }
    &__td{
      @extend .p-exhibition__info__txt;
      padding:1.2rem 2.5rem;
      margin-bottom: 0;
      text-align: center;
    }
  }
  &__guide{
    width: 60%;
    margin:0 auto 10rem;
    &__ttl{
    color:$white;
    font-size: 3rem;
    font-family: $yuMincho;
    margin-bottom: 5rem;
    }
    &__txt{
      color: $white;
      font-family:$yuMincho;
      font-size:2.2rem;
      margin-bottom: 0.8rem;
      padding:0;
      &--large{
        @extend .p-exhibition__guide__txt;
        font-size: 2.4rem;
        margin-bottom: 3rem;
      }
    }
  }
}

.fancybox-navigation .fancybox-button--arrow_left{
  background: $white !important;
}

.fancybox-navigation .fancybox-button--arrow_right{
  background: $white !important;
}
