.p-blog{
  &__list{
    display: flex;
    gap: 5rem 5%;
    flex-wrap: wrap;
    margin-bottom: 10rem;

    &__item{
      width: 30%;
    }

    &__img{
      aspect-ratio: 3/2;
      margin-bottom: 1rem;
    }
  }

  &__search{
    &__ttl{
      width: 30rem;
      background: #EA6800;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      padding: 1rem 0;
      margin-bottom: 1rem;
    }

    &__latest{
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }
  }

  &__deta{
    display: block;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10rem;
  }
}
