.p-event {
  &__ttl {
    font-size: 3.84rem;
    line-height: calc(49 / 38);
    letter-spacing: 0.04rem;
    font-weight: bold;
    text-align: center;
  }

  &__googleMapWrap {
    width: 100%;
    aspect-ratio: 877/493;

    iframe {
      width: 100%;
    }
  }
}
