.p-irohaie {
  &__mv {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;

    @include mq(tab) {
      min-height: 400px;
      align-items: center;
    }

    &__brand {
      width: 50%;

      @include mq(tab) {
        width: 70%;
      }

      @include mq(sp) {
        width: 100%;
      }
    }

    &__logo {
      margin: 0 auto;
      width: 70%;
      margin-left: 19%;
      padding-top: 3%;

      @include mq(tab) {
        width: 77%;
        margin-left: 12%;
      }

      @include mq(sp) {
        width: 80%;
        margin-left: auto;
        padding-top: 5%;
      }
    }

    &__logoImg {
      width: 100%;
      height: auto;
    }

    &__family {
      margin: 0 auto;
      width: 40%;
      margin-left: 30%;
      padding-top: 3%;
      transform: scale(-1, 1);

      @include mq(tab) {
        width: 45%;
        margin-left: 25%;
      }

      @include mq(sp) {
        width: 55%;
        margin-left: auto;
        padding-top: 6%;
      }
    }

    &__familyImg {
      width: 100%;
      height: auto;
    }

    &__hero {
      width: 50%;
      height: auto;

      @include mq(tab) {
        height: 100%;
      }

      @include mq(sp) {
        width: 90%;
        height: auto;
        margin: 0 auto;
      }
    }

    &__heroImg {
      object-fit: cover;
      width: 100%;
      height: 100%;

      @include mq(sp) {
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }

  &__about {
    width: 70%;
    min-width: 950px;
    margin: 0 auto 10rem;
    border-radius: 3rem;
    background-color: #faf7f2;
    padding: 5rem 0 8rem;

    @include mq(tab) {
      width: 90%;
      min-width: 500px;
    }

    @include mq(sp) {
      width: 100%;
      min-width: 350px;
      border-radius: 0;
    }

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;

      @include mq(sp) {
        align-items: unset;
      }
    }

    &__logo {
      margin-right: 3rem;
      width: 12%;

      @include mq(sp) {
        width: 20%;
      }
    }

    &__logoImg {
      width: 100%;
      height: auto;
    }

    &__body {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5%;
      margin-top: 4rem;

      @include mq(sp) {
        display: block;
        align-items: unset;
        justify-content: unset;
        gap: unset;
      }
    }

    &__text {
      font-size: 2rem;
      text-align: center;
      font-weight: 700;
      letter-spacing: 1px;

      @include mq(sp) {
        padding-top: 5%;
      }
    }

    &__accent {
      color: #ed6a10;
      font-size: 2rem;
    }

    &__media {
      width: 35%;

      @include mq(sp) {
        width: 63%;
        margin: 0 auto;
      }
    }

    &__img {
      width: 100%;
      height: auto;
    }
  }

  &__type {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;

    &__title {
      font-size: 3rem;
    }

    &__brand {
      font-size: 3rem;
    }

    &__scroll {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 1.5rem 3rem 0;
      border-color: #ed6a10 transparent transparent;
      transform: rotate(0deg);
      margin: 2rem auto;
    }

    &__lead {
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 0.2rem;
    }

    &__leadText {
      text-align: center;

      @include mq(sp) {
        text-decoration: #ed6a10 wavy underline;
      }
    }

    &__wave {
      position: relative;
      top: -2rem;
      left: -2rem;
      width: 90%;
      margin: 0 auto;

      @include mq(tab) {
        width: 84%;
      }
    }

    &__waveImg {
      width: 100%;
      height: auto;
    }
  }

  &__point {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    min-width: 950px;
    margin: 0 auto 10rem;
    background-color: #faf7f2;
    padding: 8rem;
    border-radius: 3rem;

    @include mq(tab) {
      width: 90%;
      min-width: 500px;
    }

    @include mq(sp) {
      width: 100%;
      min-width: 350px;
      padding: 15% 2%;
      border-radius: 0;
    }

    &__badge {
      width: 20%;
      padding-bottom: 3%;

      @include mq(sp) {
        width: 36%;
        padding-bottom: 5%;
      }
    }

    &__badgeImg {
      width: 100%;
      height: auto;
    }

    &__lead {
      padding: 1rem 5rem;
      font-size: 1.8rem;
      font-weight: 700;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 5rem;
      margin-bottom: 8rem;

      @include mq(sp) {
        display: block;
        justify-content: unset;
      }
    }

    &__wideMedia {
      width: 100%;
      margin-bottom: 5rem;
    }

    &__wideMediaImg {
      width: 100%;
      height: auto;
      aspect-ratio: unset;
      object-fit: contain;
    }

    &__media {
      width: 50%;

      @include mq(sp) {
        width: 100%;
        margin: 0 auto;
      }
    }

    &__img {
      width: 100%;
      height: auto;
    }

    &__body {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2rem;

      @include mq(sp) {
        width: auto;
        padding-top: 5%;
        text-align: center;
      }
    }

    &__text {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 2.5;
      white-space: nowrap;
    }

    &__price {
      font-size: 4rem;
      font-weight: 700;
    }

    &__strong {
      font-size: 3rem;
      font-weight: 700;
      line-height: 2.5;
      color: #ea6800;
    }

    &__cta {
      margin-top: 6rem;
    }

    &__summary {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 8rem;

      @include mq(sp) {
        display: block;
        text-align: center;
        margin: 0 auto;
        gap: unset;
      }
    }

    &__summaryText {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.2;
      letter-spacing: 0.1rem;

      @include mq(tab) {
        white-space: nowrap;
      }
    }

    &__summaryAccent {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.2;
      letter-spacing: 0.1rem;
      color: #ea6800;
    }

    &__summaryMedia {
      width: 40%;

      @include mq(sp) {
        width: 60%;
        margin: 0 auto;
        padding-top: 5%;
      }
    }

    &__summaryImg {
      width: 100%;
      height: auto;
    }

    &__step {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__stepTitle {
      font-size: 3rem;
      border-top: 0.2rem solid #000;
      border-bottom: 0.2rem solid #000;
      padding: 0 1rem;
      line-height: 1.5;
      font-weight: 700;
      margin: 3rem 0;
    }

    &__stepText {
      font-size: 1.8rem;
      font-weight: 700;
      text-align: center;
      line-height: 2.4;
    }

    &__stepImg {
      width: 100%;
      height: auto;
    }

    &__optionList {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5%;
      padding: 3% 5%;
    }

    &__option {
      width: 30%;
      padding-bottom: 5%;
    }

    &__optionImg {
      width: 100%;
      height: auto;
    }

    &__note {
      align-self: flex-end;
      color: #000;
      margin-top: 1.5rem;
      font-weight: 500;
      font-size: 1.3rem;
    }

    &__spec {
      width: 100%;
    }

    &__specImg {
      width: 100%;
      height: auto;
    }
  }

  &__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 10rem;
    box-sizing: border-box;

    @include mq(sp) {
      padding-left: 10%;
      padding-right: 10%;
    }

    &__heading {
      margin-bottom: 4rem;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 0.1rem solid gray;
      padding-bottom: 5rem;
      margin-bottom: 8rem;
      width: 100%;
      min-width: 900px;

      @include mq(tab) {
        min-width: 500px;
      }

      @include mq(sp) {
        min-width: 350px;
      }
    }

    &__title {
      color: #3f9738;
      font-size: 2.6rem;
      font-weight: 700;
      letter-spacing: 0.2rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    &__desc {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: 0.2rem;
      white-space: nowrap;
      margin-bottom: 1rem;

      @include mq(sp) {
        white-space: normal;
        margin: 0 2%;
        margin-bottom: 1rem;
      }
    }

    &__media {
      width: 90%;
      margin: 0 auto;

      @include mq(sp) {
        width: 100%;
      }

      &--seismicTop {
        padding: 5% 0 2%;
        margin-bottom: 5rem;
      }

      &--seismic {
        width: 70%;
        min-width: 600px;

        @include mq(tab) {
          min-width: 500px;
        }

        @include mq(sp) {
          min-width: 350px;
        }
      }

      &--vent {
        width: 100%;
        padding-top: 5%;
        padding-left: 20%;
        padding-right: 20%;
        box-sizing: border-box;

        @include mq(sp) {
          padding-left: 10%;
          padding-right: 10%;
        }
      }
    }

    &__img {
      width: 100%;
      height: auto;
    }

    &__note {
      padding-top: 0;

      @include mq(sp) {
        margin: 0 2%;
      }
    }

    &__climate {
      display: flex;
      justify-content: space-between;
      gap: 5%;
      padding: 5% 0 15%;
      width: 100%;

      @include mq(sp) {
        padding-left: 10%;
        padding-right: 10%;
      }
    }

    &__climateItem {
      width: 100%;
    }

    &__climateImg {
      width: 100%;
      height: auto;
      border-radius: 5px;

      &--cold {
        background-color: #c5f3f6;
      }

      &--hot {
        background-color: #f7e0d0;
      }
    }
  }

  &__highlights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;

    &__title {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }

    &__num {
      font-size: 3.3rem;
      font-weight: bold;
      color: #ea6800;
    }

    &__list {
      padding: 1% 0;
      display: flex;
      justify-content: space-between;

      @include mq(tab) {
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }

    &__item {
      width: 24%;

      @include mq(tab) {
        width: 40%;
      }
    }

    &__media {
      width: 100%;
    }

    &__img {
      width: 100%;
      height: auto;
    }

    &__label {
      width: 70%;
      background-color: #f7f6f1;
      color: #ed6a10;
      padding: 1.2rem 2.5rem;
      text-align: center;
      border-radius: 99px;
      font-weight: 700;
      position: relative;
      transform: translate(-50%, -50%);
      left: 50%;
      line-height: 1.3;

      @include mq(tab) {
        width: 80%;
        white-space: nowrap;
      }
    }
  }

  &__quality {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem 0;
    gap: 3rem;

    @include mq(sp) {
      display: block;
      justify-content: unset;
      flex-wrap: unset;
      gap: unset;
    }

    &__item {
      display: flex;
      width: 45%;
      justify-content: space-between;
      align-items: center;
      border-radius: 1rem;
      background-color: #f7f6f1;
      padding: 1rem 3rem 1.5rem;

      @include mq(sp) {
        width: 94%;
        margin: 0 auto 5%;
      }
    }

    &__media {
      width: 20%;
    }

    &__img {
      width: 100%;
      height: auto;
    }

    &__body {
      margin-left: 2rem;
      width: 75%;
    }

    &__title {
      font-size: 2rem;
      font-weight: 700;
    }

    &__num {
      font-size: 2.5rem;
      font-weight: bold;
      color: #ea6800;
    }

    &__text {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.7;
      letter-spacing: 0.03rem;
    }
  }
}
