.p-top {
  &__mv {
    &__appealList {
      display: flex;
      position: absolute;
      right: calc(40 / 1200 * 100%);
      bottom: -4.5rem;
      z-index: 9999;

      @include mq(sp) {
        bottom: 6%;
      }
    }

    &__appealItem {
      width: 14.5rem;
      height: 14.5rem;
      background-size: cover;
      margin-left: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @include mq(xl) {
        width: 13rem;
        height: 13rem;
      }
    }

    &__appealItemImg {
      width: 30%;
    }

    &__appealTtl {
      font-size: 2rem;
      font-weight: bold;
      line-height: calc(37 / 20);
      letter-spacing: 0.04rem;
      color: $yellow;
      text-align: center;

      @include mq {
        font-size: 1.6rem;
      }
    }

    &__appealTxt {
      font-weight: bold;
      line-height: calc(15 / 13);
      font-size: 1.3rem;
      letter-spacing: 0.04rem;
      color: $yellow;
      text-align: center;
    }
  }

  &__desc {
    background: $beige4;

    &__content {
      position: relative;
      padding-top: 10rem;
      padding-bottom: 11.8rem;

      &::before {
        content: '';
        display: block;
        width: calc(372 / 1200 * 100%);
        aspect-ratio: 372 / 290;
        position: absolute;
        left: 0;
        bottom: 5%;
        background-image: url('../img/top/family_img.webp');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;

        @include mq(xl) {
          bottom: 8rem;
        }


        @include mq(tab) {
          width: 27%;
          top: 8%;
          bottom: auto;
        }

        @include mq(sp) {
          display: none;
        }

        @include mq(sp) {
          display: block;
          width: 18%;
          aspect-ratio: 214 / 235;
          left: auto;
          right: 2%;
          top: 9%;
          bottom: auto;
          background-image: url('../img/top_slider/penchi.webp');
        }
      }

      &::after {
        content: '';
        display: block;
        width: 31.5%;
        aspect-ratio: 400 / 300;
        position: absolute;
        right: -3.8%;
        bottom: 9%;
        background-image: url('../img/top/top_desc01.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        z-index: 1;

        @include mq(xl) {
          bottom: 8rem;
          width: 34.5%;
          right: -6.5%;
          background-image: url('../img/top/top_desc01_sp.png');
        }

        @include mq(tab) {
          width: 28.5%;
          top: 11%;
          bottom: auto;
        }

        @include mq {
          width: 31%;
          right: -5.5%;
        }

        @include mq(sp) {
          display: none;
        }
      }
    }

    &__copy {
      font-size: 3.6rem;
      font-weight: bold;
      line-height: calc(52 / 36);
      letter-spacing: 0.18px;
      text-align: center;
      margin-bottom: 1rem;
      position: relative;
      z-index: 9999;
    }

    &__txt {
      font-size: 1.6rem;
      letter-spacing: calc(36 / 16);
      text-align: center;
      font-weight: bold;
      position: relative;
      z-index: 9999;

      @include mq(sp) {
        font-size: 2rem;

        span {
          font-size: 2rem;
        }
      }
    }

  }

  &__introduction {
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding: 5rem 0;
    background-attachment: fixed;
    position: relative;

    &__ttlWrap {
      display: inline-block;
      background: $white;
      opacity: 0.8;
      width: calc(592 / 1200 * 100%);
      aspect-ratio: 592/133;
      padding-top: calc(15 / 1200 * 100%);

      @include mq {
        width: initial;
        padding: 1.25%;
      }
    }

    &__txt {
      font-size: 1.6rem;
      line-height: calc(27 / 16);
      letter-spacing: 0.68rem;
    }

    &__imgWrap {
      width: calc(265 / 1200 * 100%);
      aspect-ratio: 265/166;
      position: absolute;
      right: calc(105 / 1200 * 100%);
      top: 50%;
      transform: translateY(-50%);

      @include mq {
        display: none;
      }

      &--house {
        width: calc(185 / 1200 * 100%);
        aspect-ratio: 1/1;
        position: absolute;
        right: calc(132 / 1200 * 100%);
        top: 50%;
        transform: translateY(-50%);

        @include mq {
          display: none;
        }
      }
    }
  }

  &__staff {
    &__imgWrap3 {
      display: none;

      @include mq(sp) {
        display: block;
        width: 12%;
        height: auto;
        position: absolute;
        right: 17%;
        top: -28%;
        max-width: 35px;
      }
    }

    &__list {
      &:nth-of-type(1) {
        margin-bottom: 4.5rem;
      }

      & .slick-slide {
        margin-left: 7px;
      }
    }

    &__item {
      width: calc(259 / 1200 * 100%);
      aspect-ratio: 259/173;
    }

    &__ttl {
      font-size: 6.4rem;
      font-weight: bold;
      letter-spacing: 0.68rem;

      @include mq {
        font-size: 3.6rem;
      }
    }

    &__subTtl {
      font-size: 1.7rem;
      font-weight: normal;
      margin-bottom: 1.4rem;
      text-align: center;
    }

    &__copy {
      font-size: 3.6rem;
      font-weight: bold;
      line-height: calc(52 / 36);
      letter-spacing: 0.18rem;
      text-align: center;
      margin-bottom: 2rem;
      position: relative;
      display: inline-block;

      &::after {
        display: block;
        content: '';
        background: url('../img/top/staff02.webp');
        background-size: 100% 100%;
        position: absolute;
        right: calc(-1 * (394 / 414) * 100%);
        bottom: 0;
        width: 107%;
        aspect-ratio: 394/181;

        @include mq(tab) {
          width: 30rem;
          right: -60%;
        }

        @include mq {
          display: none;
        }
      }

      &::before {
        display: block;
        content: '';
        background: url('../img/top/staff01.webp');
        background-size: 100% 100%;
        position: absolute;
        left: calc(-1 * ((97 + 155) / 414) * 100%);
        bottom: 0;
        width: 42%;
        aspect-ratio: 155/184;

        @include mq(tab) {
          width: 12rem;
          background-image: url('../img/top/staff01.png');
          left: -50%;
        }

        @include mq {
          display: none;
        }
      }

      &--orange {
        font-size: 3.6rem;
        font-weight: bold;
        line-height: calc(52 / 36);
        letter-spacing: 0.18rem;
        color: $orange;
      }
    }
  }
}