.p-top {
  &__mv {
    &__appealList {
      display: flex;
      position: absolute;
      right: calc(40 / 1200 * 100%);
      bottom: -4.5rem;
      z-index: 9999;
    }

    &__appealItem {
      width: 14.5rem;
      height: 14.5rem;
      background-size: cover;
      margin-left: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @include mq(xl) {
        width: 13rem;
        height: 13rem;
      }
    }

    &__appealItemImg {
      width: 30%;
    }

    &__appealTtl {
      font-size: 2rem;
      font-weight: bold;
      line-height: calc(37 / 20);
      letter-spacing: 0.04rem;
      color: $yellow;
      text-align: center;

      @include mq {
        font-size: 1.6rem;
      }
    }

    &__appealTxt {
      font-weight: bold;
      line-height: calc(15 / 13);
      font-size: 1.3rem;
      letter-spacing: 0.04rem;
      color: $yellow;
      text-align: center;
    }
  }

  &__desc {
    background: $beige4;
    margin-bottom: 10rem;

    &__content {
      position: relative;
      padding-top: 10rem;
      padding-bottom: 11.8rem;
    }

    &__copy {
      font-size: 3.6rem;
      font-weight: bold;
      line-height: calc(52 / 36);
      letter-spacing: 0.18px;
      text-align: center;
      margin-bottom: 1rem;
      position: relative;
      z-index: 9999;
    }

    &__txt {
      font-size: 1.6rem;
      letter-spacing: calc(36 / 16);
      text-align: center;
      font-weight: bold;
      position: relative;
      z-index: 9999;
    }

    &__imgWrap {
      display: block;
      width: calc(372 / 1200 * 100%);
      height: 290px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-size: cover;
      background-position: top center;

      @include mq {
        display: none;
      }

      &--right {
        display: block;
        width: calc(333 / 1200 * 100%);
        height: 290px;
        position: absolute;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: top center;
        z-index: 9999;

        @include mq {
          display: none;
        }

        &::after {
          position: absolute;
          content: '';
          display: block;
          background: url('../dist/img/top/house.png');
          height: 10rem;
          background-size: contain;
          width: calc(173 / 333 * 100%);
          aspect-ratio: 173/132;
          background-repeat: no-repeat;
          top: 0;
          right: -25%;
          z-index: 1;
        }
      }
    }
  }

  &__introduction {
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding: 5rem 0;
    background-attachment: fixed;
    position: relative;

    &__ttlWrap {
      display: inline-block;
      background: $white;
      opacity: 0.8;
      width: calc(592 / 1200 * 100%);
      aspect-ratio: 592/133;
      padding-top: calc(15 / 1200 * 100%);

      @include mq {
        width: initial;
        padding: 1.25%;
      }
    }

    &__txt {
      font-size: 1.6rem;
      line-height: calc(27 / 16);
      letter-spacing: 0.68rem;
    }

    &__imgWrap {
      width: calc(265 / 1200 * 100%);
      aspect-ratio: 265/166;
      position: absolute;
      right: calc(105 / 1200 * 100%);
      top: 50%;
      transform: translateY(-50%);

      @include mq {
        display: none;
      }

      &--house {
        width: calc(185 / 1200 * 100%);
        aspect-ratio: 1/1;
        position: absolute;
        right: calc(132 / 1200 * 100%);
        top: 50%;
        transform: translateY(-50%);

        @include mq {
          display: none;
        }
      }
    }
  }

  &__staff {
    &__list {
      &:nth-of-type(1) {
        margin-bottom: 4.5rem;
      }

      & .slick-slide {
        margin-left: 7px;
      }
    }

    &__item {
      width: calc(259 / 1200 * 100%);
      aspect-ratio: 259/173;
    }

    &__ttl {
      font-size: 6.4rem;
      font-weight: bold;
      letter-spacing: 0.68rem;

      @include mq {
        font-size: 3.6rem;
      }
    }

    &__subTtl {
      font-size: 1.7rem;
      font-weight: normal;
      margin-bottom: 1.4rem;
      text-align: center;
    }

    &__copy {
      font-size: 3.6rem;
      font-weight: bold;
      line-height: calc(52 / 36);
      letter-spacing: 0.18rem;
      text-align: center;
      margin-bottom: 2rem;
      position: relative;
      display: inline-block;

      &::after {
        display: block;
        content: '';
        background: url('../dist/img/top/staff02.png');
        background-size: 100% 100%;
        position: absolute;
        right: calc(-1 * (394 / 414) * 100%);
        bottom: 0;
        width: 39.4rem;
        aspect-ratio: 394/181;

        @include mq {
          display: none;
        }
      }

      &::before {
        display: block;
        content: '';
        background: url('../dist/img/top/staff01.png');
        background-size: 100% 100%;
        position: absolute;
        left: calc(-1 * ((97 + 155) / 414) * 100%);
        bottom: 0;
        width: 15.5rem;
        aspect-ratio: 155/184;

        @include mq {
          display: none;
        }
      }

      &--orange {
        font-size: 3.6rem;
        font-weight: bold;
        line-height: calc(52 / 36);
        letter-spacing: 0.18rem;
        color: $orange;
      }
    }
  }
}