@media screen and (min-width:1051px) {
  .c-pageMv__heading__subTitle {
    font-size: 2.5rem;
  }
  .c-pageMv__heading__subTitle span {
    color: #ea6800;
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 599px) and (max-width: 1050px) {
  .c-pageMv__heading__subTitle {
    font-size: 2.5rem;
  }
  .c-pageMv__heading__subTitle span {
    color: #ea6800;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 599px) {
  .c-pageMv__heading__subTitle {
    font-size: 2.5rem;
  }
  .c-pageMv__heading__subTitle span {
    color: #ea6800;
    font-size: 2.5rem;
  }
}
