@media screen and (min-width:1051px) {
  .sp_tab {
    display: none !important;
  }

  .sp {
    display: none !important;
  }

}

@media only screen and (min-width:599px) and (max-width:1050px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: none !important;
  }

}

@media screen and (max-width:599px) {
  .pc {
    display: none !important;
  }

  .pc_tab {
    display: none !important;
  }

}