.p-flex__one__imgWrap img {
  height: auto !important;
}

.p-property__iframe__wrap iframe {
  width: 100%;
}

.p-event__googleMapWrap iframe {
  width: 100%;
}

@media screen and (min-width:1051px) {
  .sp_tab {
    display: none !important;
  }

  .sp {
    display: none !important;
  }

  .p-top__desc__imgWrap {
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 5%;
  }

  .p-top__desc__imgWrap--right {
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 8%;
  }

  .p-top__staff__copy::before {
    background: url(../dist/img/top/staff01.webp);
    width: 42%;
  }

  .p-top__staff__copy::after {
    background: url(../dist/img/top/staff02.webp);
    width: 107%;
  }

  .top__desc__imgWrap2 {
    display: none;
  }

  .c-lineUp__media {
    aspect-ratio: 16/10;
  }

  .top__desc__imgWrap3 {
    display: none;
  }

  .p-catalog__mv__logo {
    width: 31%;
    top: 4.377049%;
    left: 15.333333%;
  }
}

@media only screen and (min-width:599px) and (max-width:1050px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: none !important;
  }

  .p-top__desc__imgWrap {
    width: 27%;
    top: 8%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .p-top__desc__imgWrap--right {
    width: 25%;
    top: 11%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .c-lineUp__media {
    aspect-ratio: 16/10;
  }

  .top__desc__imgWrap2 {
    display: none;
  }

  .top__desc__imgWrap3 {
    display: none;
  }

  .p-catalog__mv__logo {
    width: 43%;
    top: 13.377049%;
    left: 15.333333%;
  }
}

@media screen and (max-width:599px) {
  .pc {
    display: none !important;
  }

  .pc_tab {
    display: none !important;
  }

  .p-top__mv__appealList {
    bottom: 6%;
  }

  .p-top__desc__txt {
    font-size: 2rem;
  }

  .p-top__desc__txt span {
    font-size: 2rem;
  }

  .c-lineUp__media {
    aspect-ratio: 16/10;
  }

  .c_title__wrap_sectionLine_t {
    font-size: 3rem !important;
  }

  .top__desc__imgWrap2 {
    display: block;
    width: 18%;
    height: auto;
    position: absolute;
    right: 2%;
    top: 9%;
  }

  .yume_staff_p {
    position: relative;
  }

  .top__desc__imgWrap3 {
    display: block;
    width: 12%;
    height: auto;
    position: absolute;
    right: 17%;
    top: -28%;
    max-width: 35px;
  }

  .l-footer__map__copyWrap {
    width: 100%;
    align-items: center;
  }

  .p-staff__list {
    display: block;
    margin: 0 auto;
  }

  .p-staff__list__item {
    width: 100%;
    margin-left: 0;
  }

  .p-staff__name {
    font-size: 2.5rem;
  }

  .p-staff__production__content {
    display: block;
  }

  .p-staff__production__profile {
    width: 100%;
  }

  .p-staff__production__desc {
    width: 100%;
  }

  .p-staff__myBest {
    display: block;
  }

  .p-staff__myBest__ttlWrap {
    width: 100%;
    padding: 3rem 5% 3rem 10%;
  }

  .p-staff__myBest__list {
    width: 100%;
    margin: 0 10%;
  }

  .p-staff__question__ttl--another {
    display: inline;
  }

  .p-catalog__mv__logo {
    width: 70%;
    max-width: 35rem;
    top: 21.377049%;
    left: 10.333333%;
  }

  .p-about__message {
    display: block;
  }

  .p-about__message__imgWrap {
    width: 50%;
    margin: auto;
  }

  .p-about__message__txt {
    font-size: 2rem;
    letter-spacing: 0.15rem;
    line-height: 1.9;
    font-weight: 500;
    width: 100%;
    padding-top: 5%;
  }

  .p-about__message__txt {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    width: 100% !important;
  }

  .p-staff__list__item {
    width: 48% !important;
    margin-left: 0;
  }

  .p-staff__list {
    display: flex !important;
    justify-content: space-between;
    margin: 0 auto;
  }

  .p-staff__img__wrap {
    margin-bottom: 2rem;
  }

  .p-staff__name {
    font-size: 2rem;
  }

  .c-title--section {
    height: 9rem;
  }
}

@media screen and (min-width:1051px) {
  .p-staff__production__desc {
    width: 50% !important;
    aspect-ratio: 16/10 !important;
  }

  .p-about__staff__list::after {
    background: #faf7f2;
  }

  .img_shadow {
    box-shadow: 1px 5px 5px 0px rgb(189 184 184/50%);
  }

  .top_p_3 {
    padding-top: 3%;
  }

  .l_content_middle_70 {
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
  }

  .c-pageMv__heading {
    padding: 3% 3% 3% 10%;
    min-width: 40%;
  }

  .c-pageMv__heading__subTitle {
    color: #ed6a10;
    font-size: 2.5rem;
  }

  .c_title_orangeLine_t {
    font-size: 3rem;
    letter-spacing: 0.68rem;
    color: #000000;
    font-weight: 500;
  }

  .c_title_orangeLine_t span {
    font-size: 3rem;
    letter-spacing: 0.68rem;
    font-weight: 500;
  }

  .c_title_orangeLine_t span.big {
    font-size: 5rem !important;
    letter-spacing: 0.68rem !important;
    font-weight: 700 !important;
  }

  .content_center {
    display: grid;
    place-content: center;
  }

  .p-about__message__txt {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    width: 60%;
  }

  .p-about__message__imgWrap {
    width: 35%;
  }

  .p-about__message__bold {
    font-size: 1.9rem;
    font-weight: 400;
    letter-spacing: 0.07rem;
    line-height: 1.8;
  }

}

@media only screen and (min-width:599px) and (max-width:1050px) {
  .p-about__staff__list::after {
    background: #faf7f2;
  }

  .img_shadow {
    box-shadow: 1px 5px 5px 0px rgb(189 184 184/50%);
  }

  .top_p_3 {
    padding-top: 3%;
  }

  .l_content_middle_70 {
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
  }

  .c-pageMv__heading {
    padding: 3% 3% 3% 10%;
    min-width: 40%;
  }

  .c-pageMv__heading__subTitle {
    color: #ed6a10;
    font-size: 2.5rem;
  }

  .c_title_orangeLine_t {
    font-size: 3rem;
    letter-spacing: 0.68rem;
    color: #000000;
    font-weight: 500;
  }

  .c_title_orangeLine_t span {
    font-size: 3rem;
    letter-spacing: 0.68rem;
    font-weight: 500;
  }

  .c_title_orangeLine_t span.big {
    font-size: 5rem !important;
    letter-spacing: 0.68rem !important;
    font-weight: 700 !important;
  }

  .content_center {
    display: grid;
    place-content: center;
  }

  .p-about__message__txt {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    width: 60%;
  }

  .p-about__message__imgWrap {
    width: 35%;
  }

  .p-about__message__bold {
    font-size: 1.9rem;
    font-weight: 400;
    letter-spacing: 0.07rem;
    line-height: 1.8;
  }

}

@media screen and (max-width:599px) {
  .p-about__staff__list::after {
    background: #faf7f2;
  }

  .img_shadow {
    box-shadow: 1px 5px 5px 0px rgb(189 184 184/50%);
  }

  .top_p_3 {
    padding-top: 3%;
  }

  .l_content_middle_70 {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }

  .c-pageMv__heading {
    padding: 8% 8% 8% 10%;
    min-width: 40%;
  }

  .c-pageMv__heading__subTitle {
    color: #ed6a10;
    font-size: 2.5rem;
  }

  .c_title_orangeLine_t {
    font-size: 3rem;
    letter-spacing: 0.68rem;
    color: #000000;
    font-weight: 500;
  }

  .c_title_orangeLine_t span {
    font-size: 3rem;
    letter-spacing: 0.68rem;
    font-weight: 500;
  }

  .c_title_orangeLine_t span.big {
    font-size: 5rem !important;
    letter-spacing: 0.68rem !important;
    font-weight: 700 !important;
  }

  .content_center {
    display: grid;
    place-content: center;
  }

  .p-about__message__txt {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    width: 60%;
  }

  .p-about__message__imgWrap {
    width: 35%;
  }

  .p-about__message__bold {
    font-size: 1.9rem;
    font-weight: 400;
    letter-spacing: 0.07rem;
    line-height: 1.8;
  }

}